.standard-padding {
  margin: 10px 10px 10px 10px;
}

.center {
    margin: auto;
    width: 20%;
    padding: 100px 0px 0px 0px;
}

.border-bottom-color {
  border-bottom: 1px solid;
  border-color: #adadad;
}

.button_login_size {
  width: 150px;
  margin: auto;
}
