.standard-padding {
  	margin: 10px 10px 10px 10px;
}

.center {
    margin: auto;
    padding: 100px 0px 0px 0px;
    align: center;
}

.border-bottom-color {
  	border-bottom: 1px solid;
  	border-color: #adadad;
}

.btn-large {
 	width: 30%;
  	margin: auto;
  	text-align: center;
}

.login-background {
  	background : #000000;
  	color: #000000;
}

.main-well-login-screen {
  	width:40%;
  	margin:auto;
  	margin-top:10%;
}

.top-row-login-screen {
  	padding-bottom:15px;
  	border-bottom:1px solid #828282;
}

.bottom-row-login-screen {
  	padding-top:25px;
}

.spotify-logo {
  	font-size: 70px;
  	color: #84bd00;
}

.spotify-logo-main {
  	font-size: 29px !important;
  	align: center;
  	margin-top: 10px;
  	color: #ffffff;
}

.login-button {
  	display: none;
  	width: 40%;
}

.top-row-main {
  	width: 100%;
  	padding-left: 15px;
  	padding-right: 15px;
  	margin-bottom:15px;
  	border-bottom: 1px solid #828282;
}

.main-page-object-background {
  	background: #ecebe8;
  	border-radius: 5px;
}	

.active {
  	background: red;
  	border-radius: 5px;
}

.player {
  	padding: 0px;
  	margin: 0px;
  	border-radius: 4px;
}	

.main-page-theme {
  	background: #000000;
}

.node text {
  	pointer-events: none;
  	font: 10px sans-serif;
}

#footer {
   position:fixed;
   left:0px;
   bottom:0px;
   height: 80px;;
   width:100%;
   background:#999;
}

.wrap {
    position:relative;
	margin:0 auto;
	width:100%;
	background: #000000;
}

.left-hand-list-view {
	width: 100% !important;
	overflow: scroll !important;
	padding: 8px 8px 8px 8px;	
	margin-bottom: 15px;
	border-right: solid 3px #828282;
	border-block-end-style: ridge;
	list-style-type: none;
}

.right-hand-list-view {
	width: 100% !important;
	overflow: scroll !important;
  	list-style-type: none;

	border-left: solid 3px #828282;
	border-block-end-style: ridge;
	align-content: center;

	overflow-x: hidden;
	overflow-y: hidden;
}

.chart {
	max-height: 100% !important;
	width: 50% !important;
	padding: 15px 15px 15px 15px;
	border: solid 3px #84bd00;
	border-radius: 5px;
}

.content_pane {
	margin: 15px 15px 15px 15px;
}

.user-graph-area {
	width: 75% !important;
	height: 100% !important;
}

.list-item {
	width: 90%;
	height: 40px;
	margin: 10px 10px 10px 15px;
	padding: 10px 10px 10px 10px;
	border: 2px solid #363636;
	border-radius: 12px;
	color: white;

	vertical-align: center;
}

.content-area-header {
	float: left;
	margin: 0px 0px 0px 15px;
	width: 100%;
}

/* hide the scrollbar */
html {
    overflow: scroll;
    overflow-x: hidden;
}
::-webkit-scrollbar {
    width: 0px;  /* remove scrollbar space */
    background: transparent;  /* optional: just make scrollbar invisible */
}
/* optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

.btn-group {
	background-color: #000000 !important;
	font-weight: bold;
	float: right;
}

.content-area-title {
	color: #ffffff; 
	float: left;
}

.li-child {
	font-size: 15px !important;
	margin-left: 15px;
	margin-top: auto;
	margin-bottom: auto;
	vertical-align: center;
}

.exp-well {
	width: 95%;
	color: #363636;
	margin: 15px;
	padding: 10px 0px 10px 25px;
	height: auto;
}

.line-barrier {
	width: 100%;
	height: 0%;
	border-bottom: solid 2px #363636;
	margin-top: 10px;
	margin-bottom: 10px;
}

.last-well {
	margin-bottom: 100px;
}